html, body {
    margin: 0;
    height: 100%;
}

form {
    margin: 0;
}

* {
    font-size: calc(2.2 * var(--unit));
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #A3A9B0;
}

:root {
    --unit: (100vw / 75);

}

@media only screen and (min-width: 550px) {
    :root {
        --unit: (550px / 75);
    }
}

.header, .body, .footer {
    position: fixed;
    left: 0;
    right: 0;
}
.header, .footer {
    height: calc(6 * var(--unit));
    background-color: #D6E9FF;
}
.header {
    display: flex;
    top: 0;
}
.body {
    overflow: auto;
    top: calc(6 * var(--unit));
    bottom: calc(6 * var(--unit));
}
.footer {
    bottom: 0;
}

/*Custom Features start*/

/*Share*/

.full-border {
    border: calc(0.2 * var(--unit)) solid #B5C0CC;
}
.divider-border, .h-divider {
    outline: calc(0.2 * var(--unit)) solid #95989A;
}

.round-btn {
    border-radius: calc(4 * var(--unit));
    padding: calc(2.2 * var(--unit));
    margin: calc(1 * var(--unit));
    background-color: #FFFFFF;
}

.len38 {
    width: calc(42 * var(--unit));
}

.y-scrollable {
    overflow-y: auto;
}

.icon-text-container {
    display: flex;
    flex-direction: column;
}
.icon-text-icon {
    margin: auto;
    width: calc(10 * var(--unit));
    height: calc(10 * var(--unit));
}
.icon-text-text {
    font-size: calc(1.8 * var(--unit));
    text-align: center;
}

/*Components*/

.center-container, .buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.center-container {
    flex-direction: column;
    flex: 1 1 auto;
}

.expander {
    flex: 1 1 auto;
}

.feature-container {
}
.feature-title-bar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.feature-title {
    font-size: calc(4 * var(--unit));
    text-decoration: underline;
    padding: calc(1 * var(--unit));
}
.feature-body {
    display: flex;
    overflow-x: auto;
}


.h-divider, .baseline-center {
    display: flex;
    width: 100%;
}
.h-divider {
    align-items: center;
}
.baseline-center {
    align-items: baseline;
    justify-content: center;
}
.h-divider > div, .feature-body > div, .baseline-center > div {
    width: 100%;
}

.h1 {
    font-size: calc(5 * var(--unit));
    padding: 0 calc(1 * var(--unit)) calc(2 * var(--unit));
}
.h2 {
    font-size: calc(4 * var(--unit));
    padding: calc(2 * var(--unit));
}

.nav-btn {
    padding: 0 calc(1 * var(--unit));
    line-height: calc(6 * var(--unit));
}

.p1, .p {
    font-size: calc(2.3 * var(--unit));
    padding: 0 calc(1 * var(--unit)) calc(1.5 * var(--unit));
}
.p {
    max-width: calc(40 * var(--unit));
}
.p1 {
    max-width: calc(72 * var(--unit));
    text-align: center;
}

.image {
    width: calc(18 * var(--unit));
    height: calc(18 * var(--unit));
    padding: 0 calc(2 * var(--unit));
}
.large-image {
    width: calc(25 * var(--unit));
    height: calc(25 * var(--unit));
    padding: 0 calc(2 * var(--unit));
}

.switch-button-container {
    display: flex;
    width: 95%;
    max-width: calc(70 * var(--unit));
    margin: calc(1.4 * var(--unit));
    border-radius: calc(4 * var(--unit));
    overflow: hidden;
}
.switch-button {
    width: 100%;
    padding: calc(2.2 * var(--unit));
    outline: calc(0.2 * var(--unit)) solid #B5C0CC;
    text-align: center;
}

.form {
    width: calc(70 * var(--unit));
}
.form > * {
    margin: 0 0  calc(1 * var(--unit));
}
.form-input, .form-area {
    width: 100%;
    border: calc(0.2 * var(--unit)) solid #B5C0CC;
    border-radius: calc(1 * var(--unit));
}
.form-input {
    height: calc(4 * var(--unit));
}

.fill-container {
    display: flex;
    width: calc(75 * var(--unit));
}
.fill {
    flex: 1 1 auto;
}

.vertical-tab-menu {
    min-width: calc(10 * var(--unit));
}
.vertical-tab {
    padding: calc(0.5 * var(--unit)) calc(1 * var(--unit));
}

.image-container {
    border-left: calc(0.2 * var(--unit)) solid #95989A;
}
.image-container img {
    padding: 0 0 calc(1 * var(--unit)) calc(1 * var(--unit));
}
.image-group {
    max-height: 100%;
    overflow: auto;
}

.modal-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    background-color: #FFFFFF;
    width: calc(70 * var(--unit));
    max-height: 100%;
    overflow: auto;
    padding: calc(1 * var(--unit));
}

/*Custom Features end*/
/*Remove tag defaults start*/

a {
    text-decoration: none;
}

/*Remove tag defaults end*/

/*end*/